<h1 class="title">Users</h1>
<hr>

<% @users.each do |user| %>
<article class="media">
  <figure class="media-left">
    <%= image_tag user.image_url, class: 'image is-128x128' %>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong class="is-size-4"><%= link_to user.name, user %></strong>
        <br>
        <small><i class="fa fa-github"></i> <%= user.nickname %></small>
        <small><i class="fa fa-envelope"></i> <%= user.email %></small>
        <small><i class="fa fa-user"></i> <%= user.role %></small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <%= link_to_edit path: edit_user_path(user), label: 'Edit', class: 'level-item' %>
      </div>
    </nav>
  </div>
  <!-- <div class="media-right">
    <button class="delete"></button>
  </div> -->
</article>
<% end %>
