<%= form_with(model: pull_request_evaluation, local: true) do |form| %>
  <% if pull_request_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull_request_evaluation.errors.count, "error") %> prohibited this pull_request_evaluation from being saved:</h2>

      <ul>
        <% pull_request_evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :repo_url, class: 'label' %>
    <%= form.text_field :repo_url %>
  </div>

  <div class="control">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
