<% content_for(:breadcrumbs) do %>
<li>
  <%= link_to 'Evaluations', evaluations_path %>
</li>
<li>
  <%= link_to 'Pull Request', evaluations_pull_requests_path %>
</li>
<li class="is-active">
  <%= link_to @evaluation.name,  @evaluation %>
</li>
<% end %>

<h1 class="title"><%= @evaluation.name %></h1>
<p class="subtitle is-6">
  <%= link_to 'Details', evaluation_user_evaluations_path(@evaluation) %> |
  <%= link_to_edit path: edit_evaluations_pull_request_path(@evaluation), label: 'Edit' %>
</p>
<hr>

<div class="columns">
  <div class="column is-one-quarter">
    <h2 class="title is-4">Repository</h2>
    <p class="subtitle is-7"><%= link_to @evaluation.repo_url, @evaluation.repo_url %></p>
    <%= render @evaluation.rubric %>
  </div>
  <div class="column">
    <h2 class="title is-4">Progress</h2>
    <%= progress_bar(@evaluation.completion_percent) %>
    <h1 class="title is-4">Pull Requests</h1>
    <%= render 'table', evaluation: @evaluation %>
  </div>
</div>
