<table class="table is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>User</th>
      <th>Repository</th>
      <th>Points</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @evaluation.user_evaluations.each do |user_evaluation| %>
      <tr>
        <td><%= user_evaluation.user.name %></td>
        <td><%= link_to user_evaluation.source_url, user_evaluation.source_url %></td>
        <td><%= user_evaluation.total_points %></td>
        <td><%= link_to 'Show', user_evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_user_evaluation_path(@evaluation, user_evaluation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
