<% content_for(:breadcrumbs) do %>
<li>
  <%= link_to 'Evaluations', evaluations_path %>
</li>
<li>
  <%= link_to 'Repository', evaluations_repositories_path %>
</li>
<li class="is-active">
  <%= link_to @evaluation.name,  @evaluation %>
</li>
<% end %>

<h1 class="title"><%= @evaluation.name %></h1>
<p class="subtitle is-6">
  <%= link_to 'Details', evaluation_user_evaluations_path(@evaluation) %> |
  <%= link_to_edit path: edit_evaluations_repository_path(@evaluation), label: 'Edit' %>
</p>
<hr>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render @evaluation.rubric %>
  </div>
  <div class="column">
    <h2 class="title is-4">Progress</h2>
    <%= progress_bar(@evaluation.completion_percent) %>
    <h1 class="title is-4">Submited</h1>
  </div>
</div>
