<%= form_with(model: rubric_item, local: true) do |form| %>
  <% if rubric_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubric_item.errors.count, "error") %> prohibited this rubric_item from being saved:</h2>

      <ul>
        <% rubric_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="columns">
    <%= form.fields_for :item_categories do |builder| %>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title is-4"><%= builder.object.name %></p>
          <p class="subtitle is-6"><%= builder.object.weight %> points</p>
          <%= builder.hidden_field :name %>
          <%= builder.hidden_field :weight %>
          <%= builder.text_area :summary, placeholder: 'Summary', class: 'textarea' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="control">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
