<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-tachometer"></i> <%= current_user.role.to_s.capitalize %> dashboard
      </h1>
    </div>
  </div>
</section>
<section class="box">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Rubric Items</p>
        <p class="title"><%= @rubric_item_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Evaluation</p>
        <p class="title"><%= @evaluation_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Users</p>
        <p class="title"><%= @user_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">User Evaluations</p>
        <p class="title"><%= @user_evaluation_count %></p>
      </div>
    </div>
  </nav>
</section>
