<%= form_with(model: rubric, local: true) do |form| %>
  <% if rubric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubric.errors.count, "error") %> prohibited this rubric from being saved:</h2>

      <ul>
        <% rubric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <%= form.label :name, class: 'label' %>
        <%= form.text_field :name, class: 'input' %>
      </div>

      <div class="control">
        <%= form.submit class: 'button is-primary' %>
        <% if form.object.persisted? %>
        <%= link_to form.object, class: 'button is-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="icon is-small"><i class="fa fa-trash"></i></span><span>Destroy</span>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
