<% content_for(:breadcrumbs) do %>
  <li>
    <%= link_to 'Rubrics', rubrics_path %>
  </li>
  <li>
    <%= link_to @rubric.name, @rubric %>
  </li>
  <li class="is-active">
    <%= link_to 'Edit', edit_rubric_item_path(@rubric) %>
  </li>
<% end %>

<h1 class="title"><%= @rubric.name %></h1>
<hr>
<%= render 'form', rubric: @rubric %>
