<h1 class="title is-3"><%= @rubric.name %></h1>
<%= link_to 'Back', rubrics_path, class: 'button' %>

<%= link_to 'Edit', edit_rubric_path(@rubric), class: 'button is-primary' %>
<hr>
<h3 class="subtitle">Items</h3>
<%= link_to 'Add Item', new_rubric_item_path(@rubric), class: 'button is-primary' %>
<ul>
  <% @rubric.rubric_items.each do |item| %>
  <li><%= item.name %> | <%= link_to 'Edit', edit_rubric_item_path(@rubric, item) %></li>
  <% end %>
</ul>
