<% content_for(:breadcrumbs) do %>
<li>
  <%= link_to 'Rubrics', rubrics_path %>
</li>
<li class="is-active">
  <%= link_to @rubric.name, @rubric %>
</li>
<% end %>

<h1 class="title"><%= @rubric.name %></h1>
<p class="subtitle is-6">
  <%= link_to_add path: new_rubric_item_path(@rubric), label: 'Add Item' %> |
  <%= link_to_edit path: edit_rubric_path(@rubric), label: 'Edit' %> |
  Updated at <%= l @rubric.updated_at.to_date, format: :long %>
</p>
<hr>

<% @rubric.rubric_items.each do |item| %>
<p class="title is-5"><%= item.name %></p>
<p class="subtitle is-6">
  <%= link_to_edit path: edit_rubric_item_path(@rubric, item), label: 'Edit' %>
  <%= link_to_destroy path: item, label: 'Destroy' %>
</p>
<div class="columns">
  <% item.item_categories.each do |category| %>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><%= category.name %></p>
        <p class="subtitle is-6"><%= category.weight %> points</p>
        <div class="content">
          <p><%= category.summary %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
