<!DOCTYPE html>
<html>
  <head>
    <title>Evalua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar is-black" role="navigation" aria-label="dropdown navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to dashboard_path, class: 'navbar-item' do %>
          <span class="icon"><i class="fas fa-fire-alt fa-2x"></i></span>
          <span class="title has-text-white">&nbsp;Evalua</span>
          <% end %>
          <span class="navbar-burger burger" data-target="mainMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <% if signed_in? %>
              <%= link_to 'Rubrics', rubrics_path, class: "navbar-item #{active_menu_class('rubrics')}" %>
              <%= link_to 'Evaluations', evaluations_path, class: "navbar-item #{active_menu_class('evaluations')}" %>
              <% if current_user.admin? %>
              <%= link_to 'Users', users_path, class: "navbar-item #{active_menu_class('users')}" %>
              <% end %>
            <% end %>
          </div>
          <div class="navbar-end">
            <% if signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">
                <span class="icon"><i class="fa fa-github"></i></span>
                <span><%= current_user.nickname %></span>
              </div>
              <div class="navbar-dropdown">
                <%= link_to "Sign out", signout_path, class: 'navbar-item', method: :delete %>
              </div>
            </div>
            <% else %>
            <span class="navbar-item">
              <%= link_to "/auth/github", class: 'button is-black' do %>
              <span class="icon"><i class="fa fa-github"></i></span>
              <span>Sign In</span>
              <% end %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul><%= yield(:breadcrumbs) %></ul>
            </nav>
            <% if flash[:notice].present? %>
            <div class="notification is-info is-light">
              <button class="delete"></button>
              <%= notice %>
            </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Evalua</strong> by <a href="https://3zcurdia.com">Luis Ezcurdia</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/238d584d83.js" crossorigin="anonymous"></script>
  </body>
</html>
