<!DOCTYPE html>
<html>
  <head>
    <title>Evalua</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
          <span class="icon"><i class="fa fa-angellist fa-2x"></i></span>
          <span class="title has-text-white">&nbsp;Evalua</span>
          <% end %>
          <span class="navbar-burger burger" data-target="mainNavbar">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="mainNavbar" class="navbar-menu">
          <div class="navbar-end">
            <% if signed_in? %>
            <%= link_to "Rubrics", rubrics_path, class: 'navbar-item' %>

            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">
                <span class="icon"><i class="fa fa-github"></i></span>
                <span><%= current_user.nickname %></span>
              </div>
              <div class="navbar-dropdown">
                <%= link_to "Sign out", signout_path, class: 'navbar-item', method: :delete %>
              </div>
            </div>
            <% else %>
            <span class="navbar-item">
              <%= link_to "/auth/github", class: 'button is-black' do %>
              <span class="icon"><i class="fa fa-github"></i></span>
              <span>Sign In</span>
              <% end %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <% if content_for?(:title) %>
    <section class="hero is-primary <%= 'is-fullheight-with-navbar' unless signed_in? %>">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"><%= yield(:title) %></h1>
          <h2 class="subtitle"><%= yield(:subtitle) %></h2>
        </div>
      </div>
    </section>
    <% end %>
    <div class="container is-fullhd">
      <% if flash[:notice].present? %>
      <div class="notification is-info is-light">
        <button class="delete"></button>
        <%= notice %>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Evalua</strong> by <a href="https://3zcurdia.com">Luis Ezcurdia</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
    <script src="https://use.fontawesome.com/c303f16347.js"></script>
  </body>
</html>
