<!DOCTYPE html>
<html>
  <head>
    <title>Evalua</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            <span class="icon"><i class="fa fa-angellist fa-2x"></i></span>
            <span class="title has-text-white">&nbsp;Evalua</span>
          <% end %>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to "/auth/github", class: 'button is-black' do %>
              <span class="icon"><i class="fa fa-github"></i></span>
              <span>Sign In</span>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <section>
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Evalua</strong> by <a href="https://3zcurdia.com">Luis Ezcurdia</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
    <script src="https://use.fontawesome.com/c303f16347.js"></script>
  </body>
</html>
